#display {
  width: 75px;
}

form {
  background-color: bisque;
  margin-left: 290px;
  width: 150px;
  height: 110px;
}

button {
  background-color: lightsteelblue;
  border-color: lightslategrey;
}

button:hover {
    background-color: dimgray;
}
